.search-bar-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 48px;
  width: 312px;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
  border-radius: 2px 2px 0 0;
  line-height: 46px;
}
.search-bar-wrapper .search-bar-menu-icon {
  cursor: pointer;
  opacity: 0.8;
}
.search-bar-wrapper .search-bar-menu-icon:hover {
  opacity: 1;
}
.search-bar-wrapper .search-bar-menu-tooltip {
  display: none;
  height: 50px;
  position: absolute;
  width: 100px;
  background-color: black;
  color: white;
  left: 0;
  top: 50px;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
}
.search-bar-wrapper .search-bar-menu-tooltip::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  top: -5px;
  left: 19px;
  position: absolute;
}
.search-bar-wrapper .input-text-bar {
  border: none;
  width: 210px;
  vertical-align: middle;
  padding: 0 0 0 30px;
  font: 17px Roboto, Arial, sans-serif;
  line-height: 18px;
  outline: none;
  display: inline-block;
}
.search-bar-wrapper .search-icon {
  background-image: url('search-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
.search-bar-wrapper .search-bar-menu {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 200px;
}
.search-bar-wrapper .search-bar-menu.visible {
  display: block;
}
.search-bar-wrapper .search-bar-menu .search-bar-menu-row {
  cursor: pointer;
  font-family: Roboto, Arial, sans-serif;
  height: 50px;
  padding: 0 20px;
}
.search-bar-wrapper .search-bar-menu .search-bar-menu-row:not(:last-child) {
  border-bottom: 1px solid #E6E6E6;
}
.search-bar-wrapper .search-bar-menu-icon:hover ~ .search-bar-menu:not(.visible) ~ .search-bar-menu-tooltip {
  display: block;
}
